<%- include("navbar.ejs") %>

<!DOCTYPE html>
<html>
<head> </head>
<body>
  <div class="page-content">
    <div class="blog-card">
      <h1> <%- allBlogs[0].title %> </h1>
      <h2><%- allBlogs[0].subtitle %> </h2>
      <p> <%- allBlogs[0].description %></p>
      <a href="/deleteBlog/<%-allBlogs[0].id %>">DELETE</a>
      <a href="/editBlog/<%- allBlogs[0].id %>">EDIT</a>
    </div>
  </div>
</body>
</html>
